.form {
  display: flex;
  gap: 20px;
  max-width: 450px;
}

.formInput {
  width: 350px;
  padding: 10px 10px;
  background-color: #fff;
  color: rgb(27, 27, 27);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, outline 0.1s ease-in-out;
}

.formInput:focus {
  outline-offset: 3px;
  outline: 2px solid #ffffff;
}

.formInput:hover {
  background-color: #d1d1d1;
  outline: none;
}

.formInput:active {
  background-color: #fff;
  outline: none;
  outline-offset: none;
}
