.button {
  width: fit-content;
  padding: 6px 12px;
  background-color: blanchedalmond;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, outline 0.1s ease-in-out,
    color 0.3s ease-in-out;
}

.button:focus {
  outline-offset: 3px;
  outline: 2px solid #ffffff;
}

.button:hover {
  background-color: rgb(194, 171, 137);
  color: #3d3d3d;
  outline: none;
}

.button:active {
  background-color: #fff;
  outline: none;
}

.button:disabled {
  cursor: default;
  background-color: blanchedalmond;
}
